body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h5 {
  color: rgb(53, 114, 184)
}

#passconfirm {
  display: none
}

.navbar {
  margin-bottom: 8px;
}

#signinButton, #uploadButton {
  position: relative;
  right: 1em;
}

.form-right-button{
  position: relative;
  left: 1em;
}

@media (min-width: 768px) {
  .form-left {
    margin: auto;
  }

  .form-right {
    position: relative;
    right: 5em;
  }
}

@media (min-width: 300px) and (max-width: 576px) {
  .search {
    position: relative;
    left: 5px;
  }
  .form-inline {
    margin: auto;
  }

}

.dots {
    width: 20px;
    height: 20px;
    transform: rotate(90deg)
}

.dots:hover {
  cursor: pointer;
}

#report-description {
  width: 100%; 
  padding: 5px; 
  margin-top: 20px; 
  line-height: 2em;
}

#close {
  width: 25px; 
  height: 25px; 
  position: absolute;
  right: 20px; 
  top: 20px;
}

#close:hover {
  cursor: pointer;
}
